img {
    margin: 10px;

}

button {
    width: 50px;
    height: 25px;
}

div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 10px;
}

.informacoesModal {
    display: flex;

}

.divDasInformacoes {
    display: flex;
    width: 100%;
    align-content: center;
    text-align: left;
    justify-content: flex-start;
    margin: 10px;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
}


.imagens {
    transition-duration: 0.3s;
    border-radius: 30px;
    border: solid 2px rgb(0, 0, 0);
    box-shadow: 4px 8px gray;
}

.imagens:hover {
    transition-duration: 0.3s;
    box-shadow: 4px 8px black;
    cursor: pointer;
    scale: 1.03;
}

.header {
    width: 100%;
}

.header>img {
    width: 30%;
}

.corpo > div > img {
    width: 109px;
}