<!-- <div class="corpo">
  <button (click)="abrirModal()" class="botao">API rick and morty
  </button>
    <app-modal-component #dsadadsa>
      <select [(ngModel)]="selectedTag">
  <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
</select>

<input type="number" [(ngModel)]="statusCode" />

<button (click)="consultar()">Consultar</button>

<img *ngIf="linkImage" [src]="linkImage"/>
      <button (click)="abrirModal()">fechar modal</button>
    </app-modal-component>
</div>
 -->
 <div class="corpo">
 <div *ngFor="let personagem of personagens" style="display: flex; flex-wrap: wrap;" >
  <img [src]="personagem.image" (click)="mostraDados(personagem)">
 </div>
</div>

<div class="corpo">
  <app-modal-component #dsadadsa>
    <img [src]="imagemPersonagem" alt="">

    <p>Gênero: {{especiePersonagem}}<br>Nome: {{nomePersonagem}}<br>Espécie: {{tipoPersonagem}}</p>
    
    
    <button (click)="abrirModal()">Fechar modal</button>

  </app-modal-component>
</div>